html{
    height: 100%
}

body
{
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: 'HK Grotesk';

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

main
{
    background-color: #cccccc;
    overflow-y: scroll;
    margin: 1em;

    flex: 3 1 auto;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

header
{
    background-color: #a9eee1;
    margin: 1em 0;

    flex: 0 0;
}

header h1
{
    font-size: 3em;
    font-weight: bolder;
}

section
{
    background-color: #1d2124;

    flex: 0 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}

.board
{
    background-color: #8f17ee;
    height: 20em;
    width: 20em;

    flex: 3 0 auto;
}

aside
{
    background-color: #ffd945;
    height: 15em;
    width: 15em;

    flex: 1 0 auto;
}

footer
{
    background-color: #385aa7;
    color: #fff;

    text-align: center;
    min-height: 3em;
    padding: 1em;

    flex-grow: 0;
    flex-shrink: 0;
}

footer h3
{
    font-weight: bold;
    font-size: 2em;
}
